# Import dependencies

In [78]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Data colleciton and Analysis
###### Loading the diabetes dataset in to a pandas DataFrame

In [79]:
diabets_df = pd.read_csv('diabetes.csv')
diabets_df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [9]:
diabets_df['Outcome'].value_counts() # 0 -> NoDiabetic. 1 -> diabetic

0    500
1    268
Name: Outcome, dtype: int64

In [80]:
# get the mean value of the dataset
diabets_df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# Split the Data in to X and Y ----> train and test

In [81]:
X = diabets_df.drop(columns=['Outcome']) 
Y = diabets_df['Outcome']
print(X.shape, Y.shape)

(768, 8) (768,)

#### X will then be splited in to 80%(for model train) and 20%(for model test)

# Data Standardization ->  minimize the range d/c of the value of the cells to 0-1
###### if the range d/c of the value of the cols are large, It will be hard for the machine to predict so we need to standardize the data for better predi

In [82]:
scaler = StandardScaler()
scaler.fit(X)
standardize_data = scaler.transform(X) # will standardize the data in to b/n 0 - 1
print(standardize_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

# Split - Train - Test

In [83]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=4)

#### Trianing the model

In [84]:
classifierData = svm.SVC(kernel='linear') 
classifierData.fit(X_train, Y_train) # we are trianing our model by feeding the (X_train 80% & Y_train 20%)

SVC(kernel='linear')

# Model Evaluation -> prediction -> accuracy score on       ------- X_train --------

In [85]:
X_train_prediction = classifierData.predict(X_train)
X_accuracy = accuracy_score(X_train_prediction, Y_train)
print('The X_trainedData_accuracy', X_accuracy)

The X_trainedData_accuracy 0.7866449511400652

# Model Evaluation -> prediction -> accuracy score on        ------- X_test --------

In [86]:
X_testPrediction = classifierData.predict(X_test)
X_testAccuracy = accuracy_score(X_testPrediction, Y_test)
print('The X_testData_accuracy :- ', X_testAccuracy)

The X_testData_accuracy :-  0.7207792207792207

# Make  a predictive system by giving an input

In [87]:
# input_data = (4, 110, 92, 0, 0, 37.6, 0.191, 30) # this person is none diabetic
input_data_2 = (8, 183, 64, 0, 0, 23.3, 0.672, 32) # diabetic person
# now u need to  convert to np array
inputDataAsArray = np.asarray(input_data_2)

# inorder not to confuse the machine during predicting we need to reshape the array meaning tell the machine that we are feeding only one person 
inputData_reshaped = inputDataAsArray.reshape(1, -1)

# standardize the inputData
std_data = scaler.transform(inputData_reshaped)
print(std_data)

[[ 1.23388019  1.94372388 -0.26394125 -1.28821221 -0.69289057 -1.10325546
   0.60439732 -0.10558415]]

### prediction

In [88]:
inputPredict = classifierData.predict(std_data)
print(inputPredict)

[0]

In [75]:
diabets_df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1