In [5]:
import pandas as pd

# import thoes two files 
df = pd.read_csv('data/survey_results_public.csv')
schecma_df = pd.read_csv('data/survey_results_schema.csv')

# Filter

In [2]:
# checking the row of specific column
# in SQL we use => SELECT * FROM table WHERE colume_name = some_value [ try it in pandas ]
r = schecma_df['Column'] == 'Hobbyist'
schecma_df[r].loc[2, 'QuestionText']

'Do you code as a hobby?'

In [3]:
# one way of filtering
filtered_result = (df['Country'] == 'spain') | (df['Country'] == 'Tunisia') # or operator
filtered_result = (df['Hobbyist'] == 'No') & (df['Country'] == 'Tunisia') # and operator

# df.loc[filtered_result, ['Country', 'Age']]

In [33]:
# another way of filtering with [ isin method ]
list_of_country = ['Germany', 'Tunisia', 'spani']
filt = df['Country'].isin(list_of_country)
df.loc[filt, ['Country']]

# also same
df[df['Country'].isin(['Tunisia'])].head(3)

In [16]:
# another way of filtering with [ contains method ]
# find if a word exist in a specific row 

df['LanguageWorkedWith'] # this will return [ dtype('O') -> means Python obj]

# do NOT forget the na=False incase some rows are NAN
res = df['LanguageWorkedWith'].str.contains('Python', na=False) # will retun bool 
df.loc[res, 'LanguageWorkedWith'].head(5)

2                             Objective-C;Python;Swift
7                                           Python;SQL
9                  HTML/CSS;Java;JavaScript;Python;SQL
12                                 C;JavaScript;Python
14    Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL
Name: LanguageWorkedWith, dtype: object

In [31]:
# one way
filt = df['ConvertedComp'].between(30, 40) # will return bool
df.loc[filt].head(3)

# another way same like above
df[df['ConvertedComp'].between(30, 40)].head(4)

In [29]:
# start with
df[df['Country'].str.startswith('Ca', na=False)].head(3)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
25,26,I am a developer by profession,No,NaN,12,Yearly,94000.0,71093.0,Canada,Canadian dollar,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,Django;React.js,Just as welcome now as I felt last year,40.0,17,10
31,32,I am a developer by profession,Yes,31.0,12,Monthly,3500.0,31764.0,Canada,Canadian dollar,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,37.0,19,10
50,51,I am a developer by profession,No,NaN,10,Yearly,137000.0,103615.0,Canada,Canadian dollar,...,Difficult,Too long,NaN,I never declared a major,NaN,Django;React.js,Just as welcome now as I felt last year,35.0,23,7

# count the people with the same income in a specific country see below ðŸ‘‡

In [14]:

filt = df['Country'] == 'India'
df.loc[filt]['ConvertedComp'].value_counts()

5028.0      66
16754.0     62
8377.0      55
8376.0      55
2508.0      53
            ..
32993.0      1
27225.0      1
3853.0       1
11560.0      1
120624.0     1
Name: ConvertedComp, Length: 620, dtype: int64

# if you want for all the countries USE the groupby method

In [30]:
# this one you can do it in normal filter as well
country_salary = df.groupby(['Country'])
country_salary.get_group('Tunisia')

# for each country
country_salary['ConvertedComp'].value_counts().head(30) # here is the magic

Country      ConvertedComp
Afghanistan  1000000.0        3
             23328.0          2
             0.0              1
             109.0            1
             780.0            1
             1860.0           1
             2328.0           1
             4356.0           1
             4509.0           1
             4668.0           1
             5448.0           1
             8016.0           1
             10884.0          1
             13992.0          1
             16335.0          1
             18000.0          1
             18660.0          1
             20220.0          1
             20950.0          1
             130000.0         1
             231192.0         1
Albania      15900.0          3
             25944.0          2
             31788.0          2
             0.0              1
             2124.0           1
             4344.0           1
             5832.0           1
             10596.0          1
             10812.0          1
Name: ConvertedComp, dtype: int64

## Filter the Column

In [3]:
findIfExit = "Hobbyist" in df
findIfExit