In [8]:
import pandas as pd

# import thoes two files 
df = pd.read_csv('data/survey_results_public.csv')
schecma_df = pd.read_csv('data/survey_results_schema.csv')

In [278]:
# culculating median or middle value in a specific Col 
df['WorkWeekHrs'].median()

40.0

In [6]:
# culculating median or middle value in a specific Row
df.median()

Respondent       32231.0
Age                 29.0
CompTotal        63000.0
ConvertedComp    54049.0
WorkWeekHrs         40.0
dtype: float64

In [7]:
# for culculating stastical data like percentage, mean, count ...
df.describe()

         Respondent           Age      CompTotal  ConvertedComp   WorkWeekHrs
count  64461.000000  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean   32554.079738     30.834111  3.190464e+242   1.037561e+05     40.782174
std    18967.442360      9.585392            inf   2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00   0.000000e+00      1.000000
25%    16116.000000     24.000000   2.000000e+04   2.464800e+04     40.000000
50%    32231.000000     29.000000   6.300000e+04   5.404900e+04     40.000000
75%    49142.000000     35.000000   1.250000e+05   9.500000e+04     44.000000
max    65639.000000    279.000000  1.111111e+247   2.000000e+06    475.000000

In [279]:
# To count for each cell of Row or Col
df['Hobbyist'].count()
df.count()

Respondent       64461
MainBranch       64162
Hobbyist         64416
Age              45446
Age1stCode       57900
                 ...
WelcomeChange    52683
WorkWeekHrs      41151
YearsCode        57684
YearsCodePro     46349
percentagePY         0
Length: 62, dtype: int64

In [281]:
df['Hobbyist'].count()

64416

In [285]:
# to Count a col with the {key: value}
df['Country'].value_counts()
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

# Grouping

In [314]:
country_salary = df.groupby(['Country'])
country_salary

In [313]:
country_salary.get_group('Canada') # you can do it also with simple filter ðŸ‘‡

filt = df['Country'] == "Canada"
df.loc[filt]['ConvertedComp'].value_counts() # only for one country

In [332]:
# here is the magic for all countries
country_salary['ConvertedComp'].value_counts() # by adding .loc['Spain'] at the end we can find even for each country

Country      ConvertedComp
Afghanistan  1000000.0        3
             23328.0          2
             0.0              1
             109.0            1
             780.0            1
                             ..
Zimbabwe     10000.0          1
             18000.0          1
             24000.0          1
             30000.0          1
             180000.0         1
Name: ConvertedComp, Length: 10893, dtype: int64

## groupby with Aggregational_Fuctions(median, mean, ...)

In [333]:
filt = df['Country'] == 'Canada'
df[filt]['LanguageWorkedWith'].str.contains('Python').value_counts() # with simple filter but only for one country
# df[filt]['LanguageWorkedWith'].str.contains('Python').sum()

False    1027
True     1011
Name: LanguageWorkedWith, dtype: int64

## We can NOT use .str.contains with out changing from SeriesGroupby to Series in ðŸ‘‡

In [ ]:
# step one ==> find the total participants of each country
# step two ==> find the python users

# then combaine both 
# then do the maths ===> part/whole * 100

In [14]:
country_prog_lang = df.groupby(['Country'])
country_prog_lang['LanguageWorkedWith'].value_counts()

#country_prog_lang['LanguageWorkedWith'].str.contains('Python').value_counts() #'SeriesGroupBy' object has no attribute 'str'
# ! here if it was not grouped we use the apply with out saying .str we can do it like x: x.contains

country_prog_lang['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()) # for every country

country_prog_lang['LanguageWorkedWith'].apply(lambda x: x.contains('Python').sum())

AttributeError: 'Series' object has no attribute 'contains'

In [381]:
country_prog_lang['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()).tail(10)  # for every country

In [378]:
each_cou_py = country_prog_lang['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()) # sum of all ctry
resu = pd.concat([participants_country, each_cou_py], axis='columns')
resu['percentagePY'] = resu['LanguageWorkedWith']/resu['Country'] * 100
resu

                Country  LanguageWorkedWith  percentagePY
United States     12469                5964     47.830620
India              8403                2670     31.774366
United Kingdom     3896                1621     41.606776
Germany            3890                1712     44.010283
Canada             2191                1011     46.143314
...                 ...                 ...           ...
Fiji                  1                   0      0.000000
Gabon                 1                   1    100.000000
Nauru                 1                   0      0.000000
Chad                  1                   0      0.000000
Saint Lucia           1                   1    100.000000

[183 rows x 3 columns]

In [246]:
tot_lan = df['Country'].value_counts()
ech_country_lan = country_prog_lang['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
ech_country_lan

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [258]:
ne_data = pd.concat([tot_lan, ech_country_lan], axis='columns')
ne_data

                Country  LanguageWorkedWith
United States     12469                5964
India              8403                2670
United Kingdom     3896                1621
Germany            3890                1712
Canada             2191                1011
...                 ...                 ...
Fiji                  1                   0
Gabon                 1                   1
Nauru                 1                   0
Chad                  1                   0
Saint Lucia           1                   1

[183 rows x 2 columns]

In [259]:
ne_data['PYpercentage'] = ne_data['LanguageWorkedWith']/ne_data['Country'] * 100

In [260]:
ne_data

                Country  LanguageWorkedWith  PYpercentage
United States     12469                5964     47.830620
India              8403                2670     31.774366
United Kingdom     3896                1621     41.606776
Germany            3890                1712     44.010283
Canada             2191                1011     46.143314
...                 ...                 ...           ...
Fiji                  1                   0      0.000000
Gabon                 1                   1    100.000000
Nauru                 1                   0      0.000000
Chad                  1                   0      0.000000
Saint Lucia           1                   1    100.000000

[183 rows x 3 columns]

In [269]:
sor = ne_data.sort_values(by='PYpercentage', ascending=False)

In [270]:
sor

                                    Country  LanguageWorkedWith  PYpercentage
Saint Lucia                               1                   1    100.000000
Gabon                                     1                   1    100.000000
Micronesia, Federated States of...        1                   1    100.000000
Montenegro                               13                   9     69.230769
Brunei Darussalam                         3                   2     66.666667
...                                     ...                 ...           ...
Cape Verde                                2                   0      0.000000
Burundi                                   2                   0      0.000000
Djibouti                                  2                   0      0.000000
Saint Vincent and the Grenadines          3                   0      0.000000
Gambia                                    4                   0      0.000000

[183 rows x 3 columns]

In [273]:
sor.loc['Spain']

Country               1161.000000
LanguageWorkedWith     448.000000
PYpercentage            38.587425
Name: Spain, dtype: float64

In [2]:
import pandas as pd
new_df = pd.read_csv('data/survey_results_public.csv')

In [3]:
!ls

Cleaning _Data Casting_Datatypes & Handling Missing Values.ipynb
Dictionary_create_data_frame.ipynb
Filter_using_conditionals.ipynb
Grouping_&_Aggregating_pandas.ipynb
Modifying_Rows_Columns.ipynb
Pandas-Data-Science-Tasks-master
Pandas-Data-Science-Tasks-master.zip
Questions_pandas
README.md
Reading_and_Writing .ipynb
Sorting_DataFrame_pandas.ipynb
data
pandas_demo_1.ipynb
pandas_demo_2.ipynb
pandas_demo_indexing.ipynb

In [4]:
!touch test.txt

In [5]:
!ls

Cleaning _Data Casting_Datatypes & Handling Missing Values.ipynb
Dictionary_create_data_frame.ipynb
Filter_using_conditionals.ipynb
Grouping_&_Aggregating_pandas.ipynb
Modifying_Rows_Columns.ipynb
Pandas-Data-Science-Tasks-master
Pandas-Data-Science-Tasks-master.zip
Questions_pandas
README.md
Reading_and_Writing .ipynb
Sorting_DataFrame_pandas.ipynb
data
pandas_demo_1.ipynb
pandas_demo_2.ipynb
pandas_demo_indexing.ipynb
test.txt

In [7]:
!cat README.md