In [1]:
import pandas as pd

# import thoes two files 
df = pd.read_csv('data/survey_results_public.csv')
schecma_df = pd.read_csv('data/survey_results_schema.csv')

### we can modify Rows & Columns in d/t ways but there are 4 main methods

1. apply
2. applymap
3. map
4. replace

In [3]:
# one way of modifying the column

df.columns = ['list all your columns change here in order'] # will modify all ur columns
df.rename(columns={'key': 'value', 'key': 'value'}, inplace=True) # for specific columns or column
df.str.replace('_', ' ')

## Serices
 ### <i style="color: black"> => is a collection of columns e.g all the data of 'Hobbyist' col.</i>

## DataFrame
### <i style="color: black"> => is a collection of serice</i>

###  <p style="color: red"> ! Some methods works only in Serice or in DataFrame BUT some in both </p>

In [11]:
# we can change some of the columns eg 'ConvertedComp' to SalaryUSD
df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)

### <p style="background-color: yellow; width: 70%"> If you can NOT add the inplace=True then assgin it to a variable</p>

In [24]:
df['Hobbyist'].map({'Yes': True, 'No': False})

0         True
1        False
2         True
3         True
4         True
         ...
64456     True
64457     True
64458     True
64459     True
64460     True
Name: Hobbyist, Length: 64461, dtype: object

In [26]:
# df['Hobbyist'] = df['Hobbyist'].map({'Yes': True, 'No': False}) you can do it this way

In [27]:
# if we have otherthan 'Yes or No' e.g like 'not sure ...' SO it is time to use Replace
# so that u will not get the NAN result
# you can do it this way
df['Hobbyist'].replace({'Yes': True, 'No': False})  # her also we can use the inplace=True

In [29]:
df.apply(len)

Respondent            64461
MainBranch            64461
Hobbyist              64461
Age                   64461
Age1stCode            64461
                      ...
WebframeWorkedWith    64461
WelcomeChange         64461
WorkWeekHrs           64461
YearsCode             64461
YearsCodePro          64461
Length: 61, dtype: int64

In [33]:
# df.applymap(len) # this will give you -> TypeError: object of type 'int' has no len()

In [35]:
# df.applymap(str.lower) # TypeError: descriptor 'lower' for 'str' objects doesn't apply to a 'int' object

In [42]:
df.applymap(lambda x: len(str(x))) # we can use this with dataFrame