In [1]:
import pandas as pd

# haveing access to thoes two files 
df = pd.read_csv('data/survey_results_public.csv')
schecma_df = pd.read_csv('data/survey_results_schema.csv')

##### pd.set_option is a special method of pandas for modifing the dataFrame's stracture

In [64]:
 
pd.set_option('display.max_columns', 2)
pd.set_option('display.max_rows', 6)
# df

## loc & iloc 
### for acce

###### for accessing by index or names => think of like a func expecting 2 *args(df.loc[ [1, 2], 'email' ] ) or (df.loc[1:3, 'email')

### <h3 style="background: yellow">for accesing a Row use .loc or .iloc</h3>
### <h3 style="background: yellow">for accesing a Col use df['ur col'].something</h3>

schecma_df.iloc[[2]] # ====> to have access to a row

In [8]:
schecma_df.iloc[2, 1] # 2- for the row  1- for the question
# schecma_df.iloc[0:3] # three rows
schecma_df.iloc[0:3, 1] # displays three rows of the second column
# schecma_df.iloc[0:3, 0] # displays three rows of the first column

0    Randomized respondent ID number (not in order ...
1    Which of the following options best describes ...
2                              Do you code as a hobby?
Name: QuestionText, dtype: object

### value_counts() for conting the values of a specific columns

In [28]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [42]:
df.loc[0:13, 'Hobbyist']

0     Yes
1      No
2     Yes
     ...
11     No
12    Yes
13    Yes
Name: Hobbyist, Length: 14, dtype: object

In [63]:
df.loc[0:4, 'Hobbyist':'CompFreq'] # slicing through the columns

  Hobbyist  ...  CompFreq
0      Yes  ...   Monthly
1       No  ...       NaN
2      Yes  ...       NaN
3      Yes  ...       NaN
4      Yes  ...       NaN

[5 rows x 4 columns]

In [66]:
# to desplay all the columns
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [69]:
# desplays all the number of rows and columns
df.shape

(64461, 61)

In [71]:
# displays all the columns and its data type
# object usually means string in this case
df.info()

In [73]:
schecma_df.describe() # usfull for checking the count or unique and others of the schema

         Column                                       QuestionText
count        61                                                 61
unique       61                                                 52
top     EdLevel  Which of the following describe you, if any? P...
freq          1                                                  3